<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Candidate Profile Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-primary mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">Candidate Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav ms-auto">
                        @if (!Context.Request.Path.Value.Contains("/LoginPages"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewData["ActivePage"] == "CandidateProfile" ? "active" : "")" asp-area="" asp-page="/CandidateProfilePages/Index">Candidates Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewData["ActivePage"] == "JobPosting" ? "active" : "")" asp-area="" asp-page="/JobPostingPages/Index">Job Postings</a>
                            </li>
                            <li class="nav-item">   
                                <a class="nav-link text-white" asp-area="" asp-page-handler="Logout" asp-page="/LoginPages/Login">Log out</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white @(ViewData["ActivePage"] == "MyProfile" ? "active" : "")" asp-area="" asp-page="/HrAccountPages/Edit">My Profile</a>
                            </li>
                        }                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center py-3">
        <div class="container">
            <small>&copy; 2024 - Candidate Profile Management</small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
