@page
@model CandidateManagement_GUI.Pages.CandidateProfilePages.IndexModel

@{
    ViewData["Title"] = "Candidate Profiles";
    ViewData["ActivePage"] = "CandidateProfile";
    string? roleId = HttpContext.Session.GetString("RoleID");
    if (roleId != null && !roleId.Equals("1"))
    {
        Response.Redirect("/Error");
    }
}

<h1 class="text-center mt-4 text-primary">@ViewData["Title"]</h1>

<div class="container mt-4">
    <p>
        <a asp-page="Create" class="btn btn-success mb-3">Create New</a>
    </p>

    <form id="searchForm" method="get" asp-page="./Index" class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fullname">Fullname</label>
                    <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Enter Fullname" value="@Request.Query["fullname"]" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" name="birthday" class="form-control" id="birthday" value="@Request.Query["birthday"]" />
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-primary me-2" onclick="clearFields()">Clear</button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.CandidateProfile[0].Fullname)</th>
                <th>@Html.DisplayNameFor(model => model.CandidateProfile[0].Birthday)</th>
                <th>@Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileShortDescription)</th>
                <th>@Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileUrl)</th>
                <th>@Html.DisplayNameFor(model => model.CandidateProfile[0].Posting.JobPostingTitle)</th>
                <th class="text-center" style="width: 200px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CandidateProfile)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                    <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProfileShortDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProfileUrl)</td>
                    <td>@Html.DisplayFor(modelItem => item.Posting.JobPostingTitle)</td>
                    <td class="text-center">
                        <a asp-page="./Edit" asp-route-id="@item.CandidateId" class="btn btn-sm btn-warning me-1">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.CandidateId" class="btn btn-sm btn-info me-1">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.CandidateId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-between align-items-center my-3">
    <div>
        @if (Model.CurrentPage > 1)
        {
            <a class="btn btn-sm btn-info me-1" asp-page="./Index" asp-route-fullname="@Request.Query["fullname"]" asp-route-birthday="@Request.Query["birthday"]" asp-route-pageNumber="@(Model.CurrentPage - 1)">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a class="btn btn-sm @(i == Model.CurrentPage ? "btn-primary" : "btn-light") me-1" asp-page="./Index" asp-route-fullname="@Request.Query["fullname"]" asp-route-birthday="@Request.Query["birthday"]" asp-route-pageNumber="@i">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a class="btn btn-sm btn-info me-1" asp-page="./Index" asp-route-fullname="@Request.Query["fullname"]" asp-route-birthday="@Request.Query["birthday"]" asp-route-pageNumber="@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
<script>
    function clearFields() {
        document.getElementById('fullname').value = '';
        document.getElementById('birthday').value = '';
        document.getElementById('searchForm').submit();
    }

</script>